<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Residential</title>
  <link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../libs/bootstrap/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="../libs/videojs/video-js.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../libs//photoswipe/photoswipe.css">
  <link href="../css/styles.css" rel="stylesheet">
  <link href="../css/single.css" rel="stylesheet">


</head>
<body>
  <div class="container py-4 pt-4 px-0 ">
  <div class="breadcrumbs">
    <a href="../index.html"  class="breadcrumb-icon">
      <img src="../assets/icons/home.svg" alt="Home">
    </a>
    <nav class="breadcrumb-nav">
      <a href="../index.html">Home</a>
      <a href="" class="bc-item">Residential</a>
    </nav>
  </div>
</div>
    <!-- Main Content -->
    <div class="container my-2 py-1">
         
            <div class="pswp-gallery row row-cols-1 row-cols-md-3 g-4" id="gallery--getting-started">
                <!-- Card 1 -->
             <div class="col">
                <div class="gallery-image-item card">
                  <a href="../assets/img/residential/new/residential-main-screen.png"
                    target="_blank">
                    <img src="../assets/img/residential/new/residential-main-screen.png" alt="" />
                  </a>
                  <h5 class="video-title">Main Screen</h5>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col">
                <div class="gallery-image-item card">
                    <a href="../assets/img/residential/new/resi-routing.png"
                      target="_blank">
                      <img src="../assets/img/residential/new/resi-routing.png" alt="" />
                    </a>
                    <h5 class="video-title">Routing</h5>
                  </div>
                </div>
            <!-- Card 3 -->
                <div class="col">
                  <div class="gallery-image-item card">
                    <a href="../assets/img/residential/new/resi-transactions.png"
      
                      target="_blank">
                      <img src="../assets/img/residential/new/resi-transactions.png" alt="" />
                    </a>
                    <h5 class="video-title">Transactions</h5>

                  </div>
                </div>
                <!-- Card 4 -->
                <div class="col">
                  <div class="gallery-image-item card">
                    <a href="../assets/img/residential/new/drive-by-with-missed-cam.png"
        
                      target="_blank">
                      <img src="../assets/img/residential/new/drive-by-with-missed-cam.png" alt="" />
                    </a>
                    <h5 class="video-title">Drive by with missed cams</h5>
                  </div>
                </div>
                <!-- Card 5 -->
                <div class="col">
                  <div class="col gallery-image-item card">
                    <a href="../assets/img/residential/new/resi-invoices.png"
               
                      target="_blank">
                      <img src="../assets/img/residential/new/resi-invoices.png" alt="" />
                    </a>
                    <h5 class="video-title">Invoices</h5>

                  </div>
                  </div>

                <!-- Card 6 -->
                <div class="col">
                  <div class="col gallery-image-item card">
                    <a href="../assets/img/residential/new/col-with-cam-img.png"
               
                      target="_blank">
                      <img src="../assets/img/residential/new/col-with-cam-img.png" alt="" />
                    </a>
                    <h5 class="video-title">Collections with Camera Images</h5>

                  </div>
                  </div>


                <!-- Card 7 -->
                <div class="col">
                  <div class="col gallery-image-item card">
                    <a href="../assets/img/residential/new/tickets.png"
               
                      target="_blank">
                      <img src="../assets/img/residential/new/tickets.png" alt="" />
                    </a>
                    <h5 class="video-title">Tickets</h5>

                  </div>
                  </div>

                <!-- Card 8 -->
                <div class="col">
                  <div class="col gallery-image-item card">
                    <a href="../assets/img/residential/new/sign-up-enter-details.png"
               
                      target="_blank">
                      <img src="../assets/img/residential/new/sign-up-enter-details.png" alt="" />
                    </a>
                    <h5 class="video-title">Sign Up Details</h5>

                  </div>
                  </div>

                <!-- Card 9 -->
                <div class="col">
                  <div class="col gallery-image-item card">
                    <a href="../assets/img/residential/new/sign-up-payment-info.png"
               
                      target="_blank">
                      <img src="../assets/img/residential/new/sign-up-payment-info.png" alt="" />
                    </a>
                    <h5 class="video-title">Sign Up Payment Info</h5>

                  </div>
                  </div>

                <!-- Card 10 -->
                <div class="col">
                  <div class="col gallery-image-item card">
                    <a href="../assets/img/residential/new/sign-up-location.png"
               
                      target="_blank">
                      <img src="../assets/img/residential/new/sign-up-location.png" alt="" />
                    </a>
                    <h5 class="video-title">Sign up location location check</h5>

                  </div>
                  </div>
                <!-- END Cards  -->


        </div>
    </div>
    


     <!-- End of .container -->


     <script src="../libs/videojs/video.min.js"></script>
     <script src="../libs/bootstrap/js/bootstrap.bundle.min.js"></script>
     <script src="../js/script.js"></script>
     <script>
        document.addEventListener("DOMContentLoaded", function () {
          const gallery = document.querySelectorAll("#gallery--getting-started a");
        
          gallery.forEach(link => {
            const img = link.querySelector('img');
        
            if (img.complete) {
              // Image is already loaded
              addDimensions();
            } else {
              // Wait for image to load
              img.addEventListener('load', addDimensions);
            }
        
            function addDimensions() {
              link.setAttribute('data-pswp-width', img.naturalWidth);
              link.setAttribute('data-pswp-height', img.naturalHeight);
            }
          });
        });
        </script>
        
        <script type="module">
            import PhotoSwipeLightbox from '../libs/photoswipe/photoswipe-lightbox.esm.min.js';
            const lightbox = new PhotoSwipeLightbox({
              gallery: '#gallery--getting-started',
              children: 'a',
              pswpModule: () => import('../libs/photoswipe/photoswipe.esm.min.js')
            });
            lightbox.init();
            </script>
        

</body>
</html>




